*
!*/

# main files
!.gitignore
!.profile
!.bash_aliases
!.bashrc_wsl
!.bashrc_linux
!.sshrc
!.vimrc
!.dircolors
!.nanorc
!.gitconfig
!.zshrc
!.commonrc
!.lesskey
!.tigrc
!.inputrc
!.tmux.conf
!.bashrc

# sample
!.bash_profile__

# main files sub
!aliases/*

# dotgit
!git/**

# subfolders
!.config/**/*
!.aws/config

!.docker/config.json

# submodules
!functions/*.bash
!modules/keybind.bash
!modules/PS1.sh
!modules/*.md

# home bin scripts
!bin/*

# doc and scripts
!make_link.bash
!clone_lib.bash
!scripts/*
!/README.md
