*
!*/

# main files
!.gitignore
!.profile
!.sshrc
!.vimrc
!.dircolors
!.nanorc
!.gitconfig
!.zshrc
!.zprofile
!.shellrc
!.lesskey
!.tigrc
!.inputrc
!.tmux.conf
!.bashrc
!.shellcheckrc
!.czrc

# sample
!.bash_profile__

# subfolders
!.config/**/*
!.aws/config
!.docker/config.json
!bin/*
!aliases/*
!shell.d/**/*

# doc and scripts
!make_link.bash
!download_lib.bash
!scripts/*
!/README.md

private/
