[user]
	name = y-web21
[url "https://github.com/"]
	insteadOf = git://github.com/
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[core]
	quotepath = false
	pager = LESSCHARSET=utf-8 less -XFRS
	autoCRLF = false
[fetch]
	prune = true
	defaultBranch = main
[alias]
	a = add
	ah = add -p
	acm = !git add . && git commit
	acmm = !git add . && git commit -m
	b = branch
	c = checkout
	cm = commit
	cmm = commit -m
	cma = commit --amend
	cmam = commit --amend -m
	cmr = reset --soft HEAD~
	co = checkout
	d = !"f() { a2=''; [ $# -ge 2 ] && a2=\"@~${2}\"; git diff @~${1:-0} $a2; echo @~${1:-0} $a2; }; f"
	n = now --all --stat
	s = status
	r = "!git reset HEAD~${1:-1}"
	rb = rebase -i
	rbx = !git rebase -i @~${1:-5} && :
	# == add, commit, push ==
	gistpush = !git add . && git commit --allow-empty-message -m '' && git push
	pust = !git add . && git commit -m 'test [skip ci]' && git push origin @
	tesh = !git add . && git commit -m \"$(date \"+%Y-%m-%d_%H:%M:%S\")\" && git push origin @
	hold = update-index --skip-worktree
	unhold = update-index --no-skip-worktree
	ls-hold = !"bash -cv 'git ls-files -v | grep ^S'"
	reset-exhard = "!f() { git reset --hard ${1:-@} && git clean -fdx; }; f"
	# hold = update-index --assume-unchanged
	# unhold = update-index --no-assume-unchanged
	# ls-hold = !"git ls-files -v | grep ^[a-z]"
	# == secondary ==
	stash-one = stash push --
	stash-co-file = ! git checkout stash@{$1} $2 && :
	stash-with-name = stash save
	stash-drop = ! git stash drop stash@{$1} && :
	sho = !git show $(git hash ${1}):${2} && :
	show-stash-detail = diff stash@{0}
	# reset hard & remove untracked file
    # assume unchanged は、そもそも編集すべきでないファイルを無視リストに登録して高速化を図るもの。よってreset --hard や merge で消える。
	vibase = !export GIT_EDITOR=vi && git rebase -i @~${1:-10} && :
	codase = !export GIT_EDITOR=code && git rebase -i @~${1:-10} && :
	rm-merged-branch = !git branch --merged | sed -e 's/^\\*.*//' | awk 'NF' | xargs git branch -d
    # == log, blame ==
	hash = !git log --oneline --format="%H" | awk NR==$((${1:-1}+1)) && :
	hasha = !git log --oneline --all --format="%H" | awk NR==$((${1:-1}+1)) && :
	logv = log --pretty='format:%C(yellow)%h %C(green)%cd %C(cyan)[%an] %C(reset)%s %C(red)%d' --date=iso
    logf = log --name-status
	logfull = log --pretty=fuller
	blam = !git blame $(git hash ${1}) -- ${2} && :
    # == util ==
	alias="!bash -c '\
		GA=$(git config -l | grep ^alias | sed s/^alias\\.// | sed s/=.*$// | sort); \
		TMP=$(mktemp); \
		for i in $(seq 1 $(expr \\( $(echo $GA | wc -w) + 4 \\) / 5 )); do\
			FIELD=''; \
			for j in $(seq ${i} 5 $(echo $GA | wc -w)); do\
				FIELD=$FIELD','$j; \
			done; \
			echo $GA | cut -d \" \" -f ${FIELD:1} >> $TMP ; \
		done; \
		cat $TMP | column -t && rm $TMP;'"
	recent = !git for-each-ref --sort=-committerdate --count=${1:-10} --format='Date: %(color:red)%(authordate:iso)%(color:reset)\t%(color:green)[%(authorname)]%(color:reset)\nRef: %(color:yellow)%(refname:short)%(color:reset)\nSubject: %(subject)\n' refs/heads refs/remotes
    # == ls ==
    ls = ls-files --directory
    ls-untracked = ls-files --others --exclude-standard
    ls-ignored = ls-files --others --ignored --exclude-standard --directory
	# == memo ==
	unstage = reset HEAD --
	sts = "!f() { stack=''; if [ $# -gt 0 ];then stack=stash@{$1}; fi;  git stash show -p ${stack}; }; f"
	ignore-list = "! cd -- \"${GIT_PREFIX:-.}\" && git ls-files -v ${1:-.} | sed -n -e \"s,^[a-z] \\(.*\\)$,${GIT_PREFIX:-./}\\1,p\" && git status --ignored --porcelain ${1:-.} 2>/dev/null | sed -n -e \"s/^\\(\\!\\! \\)\\(.*\\)$/\\2/p\" #"
    # git check-ignore
    # git check-attr
	# stamer = merge "stash@{"
[include]
	path = ~/.gitconfig.local
[pager]
	status = less -F
[init]
	defaultBranch = main
